<%- include('partials/header'); -%>


<div id="usercard">
  <div class="card">
    <div class="card-body">
      <h1><%= text %>
      </a>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
