<%- include('partials/header'); -%>



<div id="usercard">
  <div class="card">
    <div class="card-body">
      <h1>Home <br>
        <h4 class="text-light"><a class="text-light" href="/contests">All Contest</a> <br>
        <a class="text-light" href="/users">All Users</a>
      </a>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
