<%- include('partials/header'); -%>

<h1>User info</h1>
<h3>Today: </h3>

<div id="usercard">
  <div class="card">
    <div class="card-body">
      <h1>Loadingnggngngn
      </a>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
